<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Movie</title>
</head>

<body>
    {{> test}}
    <h1 id="title">{{movieTitle}}</h1>
    <h2 id="publication"></h2>
    <p id="description"></p>

    <script></script>
</body>

</html>